## Yucatan Peninsula Hurricanes
### Week 4 - Discussion Section

**Discription**
- Ecological Impacts of Hurricanes Across the Yucatan Peninsula 1851-2000. computer modeling was used for analysis.
**Citation** 
- Boose, E. and D. Foster. 2023. Ecological Impacts of Hurricanes Across the Yucatan Peninsula 1851-2000 ver 23. Environmental Data Initiative. https://doi.org/10.6073/pasta/f219113373913f2daf421732e28d3c38 (Accessed 2025-10-24).
**Date of Access** 
10/24/2025
**Link** https://portal.edirepository.org/nis/mapbrowse?packageid=knb-lter-hfr.71.23

## 2. Data Exploratory

In [1]:
import pandas as pd
import numpy as np

#Saving dataset url for import
URL = "https://pasta.lternet.edu/package/data/eml/knb-lter-hfr/71/23/ab0fe2bf4f3ad850371ccb9c69d78469"

hurr = pd.read_csv(URL)

In [2]:
# First 5 rows
hurr.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

## Data Exploration

In [3]:
print(hurr.isna().sum(), 'n/', hurr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        105 non-null    object
 1   start.date  105 non-null    object
 2   end.date    105 non-null    object
 3   number      105 non-null    int64
 4   name        33 non-null     object
 5   ss          105 non-null    int64
 6   track       105 non-null    object
 7   rf.max      105 non-null    object
dtypes: int64(2), object(6)
memory usage: 6.7+ KB
code           0
start.date     0
end.date       0
number         0
name          72
ss             0
track          0
rf.max         0
dtype: int64 n/ None

In [4]:
hurr.dtypes

code          object
start.date    object
end.date      object
number         int64
name          object
ss             int64
track         object
rf.max        object
dtype: object

In [5]:
hurr.shape

(105, 8)

## 3. Brainstorm

- How many hurricanes with Saffir-Simpson category 5 have been registered and what was their duration?

Individually, write down step-by-step instructions on how you would wrangle the df data frame to answer the question. Do not code anything yet. Remember: It’s okay if you don’t know how to code each step. The important thing is to have an idea of what you’d like to do.
**Steps**
- filter ss column for only 5 (group by)
- count method to see how many values (value_counts?)
- end-start date

Discuss your step-by-step instructions with your team. What do you see as potential challenges to implementing your plan?

As a team, select an initial data wrangling plan for answering the question.

In [6]:
hurr.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

In [7]:
# Filter for 'ss' column that are only category 5
cat5 = hurr[hurr['ss'] ==5]
cat5

       code  start.date    end.date  number     name  ss track rf.max
76   Y1955b  1955-09-28  1955-09-28      10    Janet   5     N     F3
96   Y1980a  1980-08-07  1980-08-08       1    Allen   5     O     F3
98    Y1988  1988-09-14  1988-09-15       8  Gilbert   5     N     F3
103   Y1998  1998-10-27  1998-10-28      13    Mitch   5     S     F1

In [8]:
# Counting number of category 5 hurricanes
cat5.ss.count()

4

In [9]:
# Checking 
cat5['start.date'].info()

<class 'pandas.core.series.Series'>
Index: 4 entries, 76 to 103
Series name: start.date
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

In [10]:
cat5['start.date']= pd.to_datetime(cat5['start.date'])
cat5['end.date']= pd.to_datetime(cat5['end.date'])
cat5['end.date']

/tmp/ipykernel_3295298/1788126371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat5['start.date']= pd.to_datetime(cat5['start.date'])
/tmp/ipykernel_3295298/1788126371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat5['end.date']= pd.to_datetime(cat5['end.date'])

76    1955-09-28
96    1980-08-08
98    1988-09-15
103   1998-10-28
Name: end.date, dtype: datetime64[ns]

In [16]:
cat5['duration'] = cat5['end.date']- cat5['start.date']

/tmp/ipykernel_3295298/2628896850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat5['duration'] = cat5['end.date']- cat5['start.date']

In [12]:
cat5

       code start.date   end.date  number     name  ss track rf.max duration
76   Y1955b 1955-09-28 1955-09-28      10    Janet   5     N     F3   0 days
96   Y1980a 1980-08-07 1980-08-08       1    Allen   5     O     F3   1 days
98    Y1988 1988-09-14 1988-09-15       8  Gilbert   5     N     F3   1 days
103   Y1998 1998-10-27 1998-10-28      13    Mitch   5     S     F1   1 days

**Response** Most category 5 hurricanes last for approximately a day or less.

In [26]:
import matplotlib as plt

In [28]:
#fig, ax = plt.subplots(figsize = (12, 5))

#plt.scatter(hurr['start.date'], hurr['ss'],
            #c= 'red')

#plt.yticks = ([1,2,3,4,5])
#plt.xlabel("Start Date")
#plt.ylabel("Hurricane Category")

#plt.title("Yucatan Peninsula: Hurricane Over-Time")