# Reading in Data- Arctic Geojson

In [8]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import os

In [9]:
df = gpd.read_file('data/arctic_communities.geojson')

## Data exploration

In [10]:
df.head()

,admin,country,n_communities,geometry
0,United States of America,US,115,"MULTIPOLYGON (((-132.74687 56.52568, -132.7576..."
1,United Kingdom,GB,96,"MULTIPOLYGON (((-2.66768 51.62300, -2.74214 51..."
2,Sweden,SE,133,"MULTIPOLYGON (((19.07646 57.83594, 18.99375 57..."
3,Russia,RU,774,"MULTIPOLYGON (((145.88154 43.45952, 145.89561 ..."
4,Norway,NO,48,"MULTIPOLYGON (((20.62217 69.03687, 20.49199 69..."

In [12]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   admin          15 non-null     object
 1   country        15 non-null     object
 2   n_communities  15 non-null     int64
 3   geometry       15 non-null     geometry
dtypes: geometry(1), int64(1), object(2)
memory usage: 612.0+ bytes

In [13]:
df.describe

<bound method NDFrame.describe of                        admin country  n_communities  \
0   United States of America      US            115
1             United Kingdom      GB             96
2                     Sweden      SE            133
3                     Russia      RU            774
4                     Norway      NO             48
5                  Lithuania      LT             26
6                     Latvia      LV             25
7                    Iceland      IS              5
8                    Finland      FI             99
9                    Estonia      EE             14
10                 Greenland      GL              1
11             Faroe Islands      FO              1
12                   Denmark      DK             72
13                    Canada      CA              7
14                   Belarus      BY              8

                                             geometry
0   MULTIPOLYGON (((-132.74687 56.52568, -132.7576...
1   MULTIPOLYGON (((-2.66768 51.62300, -2.74214 51...
2   MULTIPOLYGON (((19.07646 57.83594, 18.99375 57...
3   MULTIPOLYGON (((145.88154 43.45952, 145.89561 ...
4   MULTIPOLYGON (((20.62217 69.03687, 20.49199 69...
5   MULTIPOLYGON (((20.95781 55.27891, 20.89980 55...
6   POLYGON ((26.59355 55.66753, 26.54287 55.67241...
7   POLYGON ((-15.54312 66.22852, -15.42847 66.224...
8   MULTIPOLYGON (((24.15547 65.80527, 24.04902 65...
9   MULTIPOLYGON (((27.35195 57.52813, 27.32656 57...
10  MULTIPOLYGON (((-29.95288 83.56484, -28.99199 ...
11  MULTIPOLYGON (((-6.62319 61.80596, -6.64277 61...
12  MULTIPOLYGON (((12.56875 55.78506, 12.57119 55...
13  MULTIPOLYGON (((-132.65552 54.12749, -132.5640...
14  POLYGON ((31.76338 52.10107, 31.57373 52.10811...  >

# 2. Check geometry types

Run df.geom_type. Write a brief explanation about the output in a markdown cell.

Create an if-else statement that:

prints “Multiple feature types:” followed by the unique geometry types (no repetition) in the geodataframe if not all the features are polygons, and

prints “All features are:” followed by the unique geometry type if all the features in the geodataframe have the same geometry type.

- Wrap up your code into a function named check_polygons that receives a single geodataframe as its parameter and prints out a message about the geometry types in the geodataframe

In [19]:
len(df.geom_type.unique())

2

In [21]:
if len(df.geom_type.unique()) > 1:
    print("Multiple Feature types")
else:
    print("All features are")

Multiple Feature types

In [25]:
def polyons(df): 
    if len(df.geom_type.unique()) > 1:
        print("Multiple Feature types")
    else:
        print("All features are")
        
polyons(df)

Multiple Feature types

## 3. Explode polygons
Overwrite the df geodataframe with the output from the explode method with the index_parts parameter set to False. Read the documentation for the method and use a markdown cell to write a brief explanation of what is being done.

Reset the index of df.

Use your check_polygons function to verify that df only has features of type polygon.

In [28]:
exploded = df.explode(index_parts=True).reset_index()
exploded

,level_0,level_1,admin,country,n_communities,geometry
0,0,0,United States of America,US,115,"POLYGON ((-132.74687 56.52568, -132.75762 56.5..."
1,0,1,United States of America,US,115,"POLYGON ((-132.77988 56.24727, -132.83096 56.2..."
2,0,2,United States of America,US,115,"POLYGON ((-134.31274 58.22891, -134.31987 58.2..."
3,0,3,United States of America,US,115,"POLYGON ((-145.11851 60.33711, -145.15049 60.3..."
4,0,4,United States of America,US,115,"POLYGON ((-144.56563 59.81841, -144.61357 59.8..."
...,...,...,...,...,...,...
476,13,137,Canada,CA,7,"POLYGON ((-109.16641 67.98237, -109.05391 67.9..."
477,13,138,Canada,CA,7,"POLYGON ((-108.09272 67.00518, -107.96646 66.9..."
478,13,139,Canada,CA,7,"POLYGON ((-109.32314 67.99087, -109.36084 67.9..."
479,13,140,Canada,CA,7,"POLYGON ((-139.04312 69.57690, -139.12573 69.5..."
480,14,0,Belarus,BY,8,"POLYGON ((31.76338 52.10107, 31.57373 52.10811..."

In [30]:
polyons(exploded)

All features are